{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <h1 class="text-center">Welcome to TODO App</h1>

    <div class="container">
            
        <div class="container">
            <h1 class="justity-content-center text-center">Todo List</h1>
            <a href="{% url 'todo:todo_add' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add Task</a>
        <div class="container">
            <h2 class="justity-content-center text-center">Uncompleted Task</h2>
            {% for todo in todos %}
                {% if todo.completed == False %}
                <div class="card text-white {% if todo.priority == 1 %} bg-danger {% elif todo.priority == 2 %} bg-warning {% else %} bg-success {% endif %} mb-3" >
                    <div class="card-header">{{ todo.title }}  {% if todo.priority == 1 %}<span class="badge badge-pill badge-danger" style="background-color: rgb(133, 3, 3);">High</span>
                                                                                    {% elif todo.priority == 2 %} <span class="badge badge-pill badge-warning" style="background-color: rgb(138, 127, 3);">Medium</span>
                                                                                    {% else %} <span class="badge badge-pill badge-secondary" style="background-color: rgb(31, 72, 2);">Low</span>{% endif %}</div>
                    <div class="card-body">
                        <p class="card-text">{{ todo.description }}</p>
                        <p class="card-text">Completed</p> 
                        <a href="{% url 'todo:todo_complete' todo.pk %}" class="btn btn-success py-2">Mark as Completed</a>
                        <a href="{% url 'todo:todo_update' todo.pk %}" class="btn btn-secondary py-2">Edit</a>
                        <a href="{% url 'todo:todo_delete' todo.pk %}" class="btn btn-danger py-2">Delete</a>
                    </div>
                    <div class="card-footer text-white text-center">
                        Due Date: {{ todo.due_date }}
                      </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="container">
            <h2 class="justity-content-center text-center">Completed Task</h2>
            {% for todo in todos %}
                {% if todo.completed %}
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">{{ todo.title }}
                        {% if todo.priority == 1 %}<span class="badge badge-pill badge-danger" style="background-color: rgb(127, 3, 3);">High</span>
                                                                                    {% elif todo.priority == 2 %} <span class="badge badge-pill badge-warning" style="background-color: rgb(126, 103, 3);">Medium</span>
                                                                                    {% else %} <span class="badge badge-pill badge-secondary" style="background-color: rgb(40, 118, 5);">Low</span>{% endif %}
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ todo.description }}</p>
                        <p class="card-text">Completed</p> 
                        <a href="{% url 'todo:todo_toggle' todo.pk %}" class="btn btn-secondary py-2">Mark as Uncompleted</a>
                        <a href="{% url 'todo:todo_delete' todo.pk %}" class="btn btn-danger py-2">Delete</a>
                    </div>
                </div>               
                {% endif %}
            {% endfor %}
        </div>
            
            
        </div>
    </div>

{% endblock %}